# Server Configuration
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:5173

# MySQL Database Connection (Prisma)
DATABASE_URL="mysql://root:password@localhost:3306/portfolio_db"

# JWT Authentication
JWT_SECRET=super_secure_random_jwt_secret_key_change_in_production_9080364795
JWT_EXPIRES_IN=1d

# Cloudinary Storage Configuration
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Initial Admin Creation (Hashed during seed)
ADMIN_NAME="Dinesh M"
ADMIN_EMAIL=nandhu0259@gmail.com
ADMIN_PASSWORD=your_initial_admin_password
